.wrapper
  = render "posts/side-navi.html.haml"

  -# ヘッダー
  .item-header
    .item-header__inner
      .item-header__inner__page-title
        %span ITEM LIST
      .item-header__inner__shopping-cart
        = icon('fas', 'shopping-cart', class: 'item-header__inner__shopping-cart--icon')
        .item-header__inner__shopping-cart--count
          %span 2
      .item-header__inner__category-list
        = icon('fas', 'list', class: 'item-header__inner__category-list--icon')
 
  -# 商品一覧部分
  .main-container
    .main-container__inner
      .main-container__inner__title
        %h2 商品一覧

      .main-container__inner__item-box
        .main-container__inner__item-box__contents
          .main-container__inner__item-box__contents--image
            = image_tag "common/ori-app.sample3.png"
          .main-container__inner__item-box__contents__outline
            .main-container__inner__item-box__contents__outline--cart-btn
              %span Buy
            .main-container__inner__item-box__contents__outline--item-name
              %span Nike スニーカー
            .main-container__inner__item-box__contents__outline--price
              %span ¥ 12,000
            .main-container__inner__item-box__contents__outline__like
              = icon('far', 'heart', class: 'main-container__inner__item-box__contents__outline__like--icon')
              .main-container__inner__item-box__contents__outline__like--count
                %span 99
        .main-container__inner__item-box__contents
          .main-container__inner__item-box__contents--image
            = image_tag "common/ori-app.sample1.png"          
          .main-container__inner__item-box__contents__outline
            .main-container__inner__item-box__contents__outline--cart-btn
              %span Buy
            .main-container__inner__item-box__contents__outline--item-name
              %span Nike スニーカー
            .main-container__inner__item-box__contents__outline--price
              %span ¥ 12,000
            .main-container__inner__item-box__contents__outline__like
              = icon('far', 'heart', class: 'main-container__inner__item-box__contents__outline__like--icon')
              .main-container__inner__item-box__contents__outline__like--count
                %span 99
        .main-container__inner__item-box__contents
          .main-container__inner__item-box__contents--image
            = image_tag "common/ori-app.sample4.png"
          .main-container__inner__item-box__contents__outline
            .main-container__inner__item-box__contents__outline--cart-btn
              %span Buy
            .main-container__inner__item-box__contents__outline--item-name
              %span Nike スニーカー
            .main-container__inner__item-box__contents__outline--price
              %span ¥ 12,000
            .main-container__inner__item-box__contents__outline__like
              = icon('far', 'heart', class: 'main-container__inner__item-box__contents__outline__like--icon')
              .main-container__inner__item-box__contents__outline__like--count
                %span 99
        .main-container__inner__item-box__contents
          .main-container__inner__item-box__contents--image
            = image_tag "common/ori-app.sample2.png"          
          .main-container__inner__item-box__contents__outline
            .main-container__inner__item-box__contents__outline--cart-btn
              %span Buy
            .main-container__inner__item-box__contents__outline--item-name
              %span Nike スニーカー
            .main-container__inner__item-box__contents__outline--price
              %span ¥ 12,000
            .main-container__inner__item-box__contents__outline__like
              = icon('far', 'heart', class: 'main-container__inner__item-box__contents__outline__like--icon')
              .main-container__inner__item-box__contents__outline__like--count
                %span 99
      
        -# .main-container__inner__item-box
        .main-container__inner__item-box__contents
          .main-container__inner__item-box__contents--image
            = image_tag "common/ori-app.sample4.png"          
          .main-container__inner__item-box__contents__outline
            .main-container__inner__item-box__contents__outline--cart-btn
              %span Buy
            .main-container__inner__item-box__contents__outline--item-name
              %span Nike スニーカー
            .main-container__inner__item-box__contents__outline--price
              %span ¥ 12,000
            .main-container__inner__item-box__contents__outline__like
              = icon('far', 'heart', class: 'main-container__inner__item-box__contents__outline__like--icon')
              .main-container__inner__item-box__contents__outline__like--count
                %span 99
        .main-container__inner__item-box__contents
          .main-container__inner__item-box__contents--image
            = image_tag "common/ori-app.sample2.png"          
          .main-container__inner__item-box__contents__outline
            .main-container__inner__item-box__contents__outline--cart-btn
              %span Buy
            .main-container__inner__item-box__contents__outline--item-name
              %span Nike スニーカー
            .main-container__inner__item-box__contents__outline--price
              %span ¥ 12,000
            .main-container__inner__item-box__contents__outline__like
              = icon('far', 'heart', class: 'main-container__inner__item-box__contents__outline__like--icon')
              .main-container__inner__item-box__contents__outline__like--count
                %span 99
        .main-container__inner__item-box__contents
          .main-container__inner__item-box__contents--image
            = image_tag "common/ori-app.sample3.png"          
          .main-container__inner__item-box__contents__outline
            .main-container__inner__item-box__contents__outline--cart-btn
              %span Buy
            .main-container__inner__item-box__contents__outline--item-name
              %span Nike スニーカー
            .main-container__inner__item-box__contents__outline--price
              %span ¥ 12,000
            .main-container__inner__item-box__contents__outline__like
              = icon('far', 'heart', class: 'main-container__inner__item-box__contents__outline__like--icon')
              .main-container__inner__item-box__contents__outline__like--count
                %span 99
        .main-container__inner__item-box__contents
          .main-container__inner__item-box__contents--image
            = image_tag "common/ori-app.sample1.png"
          .main-container__inner__item-box__contents__outline
            .main-container__inner__item-box__contents__outline--cart-btn
              %span Buy
            .main-container__inner__item-box__contents__outline--item-name
              %span Nike スニーカー
            .main-container__inner__item-box__contents__outline--price
              %span ¥ 12,000
            .main-container__inner__item-box__contents__outline__like
              = icon('far', 'heart', class: 'main-container__inner__item-box__contents__outline__like--icon')
              .main-container__inner__item-box__contents__outline__like--count
                %span 99
      
        -# .main-container__inner__item-box
        .main-container__inner__item-box__contents
          .main-container__inner__item-box__contents--image
            = image_tag "common/ori-app.sample2.png"
          .main-container__inner__item-box__contents__outline
            .main-container__inner__item-box__contents__outline--cart-btn
              %span Buy
            .main-container__inner__item-box__contents__outline--item-name
              %span Nike スニーカー
            .main-container__inner__item-box__contents__outline--price
              %span ¥ 12,000
            .main-container__inner__item-box__contents__outline__like
              = icon('far', 'heart', class: 'main-container__inner__item-box__contents__outline__like--icon')
              .main-container__inner__item-box__contents__outline__like--count
                %span 99
        .main-container__inner__item-box__contents
          .main-container__inner__item-box__contents--image
            = image_tag "common/ori-app.sample3.png"
          .main-container__inner__item-box__contents__outline
            .main-container__inner__item-box__contents__outline--cart-btn
              %span Buy
            .main-container__inner__item-box__contents__outline--item-name
              %span Nike スニーカー
            .main-container__inner__item-box__contents__outline--price
              %span ¥ 12,000
            .main-container__inner__item-box__contents__outline__like
              = icon('far', 'heart', class: 'main-container__inner__item-box__contents__outline__like--icon')
              .main-container__inner__item-box__contents__outline__like--count
                %span 99
        .main-container__inner__item-box__contents
          .main-container__inner__item-box__contents--image
            = image_tag "common/ori-app.sample4.png"          
          .main-container__inner__item-box__contents__outline
            .main-container__inner__item-box__contents__outline--cart-btn
              %span Buy
            .main-container__inner__item-box__contents__outline--item-name
              %span Nike スニーカー
            .main-container__inner__item-box__contents__outline--price
              %span ¥ 12,000
            .main-container__inner__item-box__contents__outline__like
              = icon('far', 'heart', class: 'main-container__inner__item-box__contents__outline__like--icon')
              .main-container__inner__item-box__contents__outline__like--count
                %span 99
        .main-container__inner__item-box__contents
          .main-container__inner__item-box__contents--image
            = image_tag "common/ori-app.sample1.png"          
          .main-container__inner__item-box__contents__outline
            .main-container__inner__item-box__contents__outline--cart-btn
              %span Buy
            .main-container__inner__item-box__contents__outline--item-name
              %span Nike スニーカー
            .main-container__inner__item-box__contents__outline--price
              %span ¥ 12,000
            .main-container__inner__item-box__contents__outline__like
              = icon('far', 'heart', class: 'main-container__inner__item-box__contents__outline__like--icon')
              .main-container__inner__item-box__contents__outline__like--count
                %span 99
      
        -# .main-container__inner__item-box
        .main-container__inner__item-box__contents
          .main-container__inner__item-box__contents--image
            = image_tag "common/ori-app.sample2.png"          
          .main-container__inner__item-box__contents__outline
            .main-container__inner__item-box__contents__outline--cart-btn
              %span Buy
            .main-container__inner__item-box__contents__outline--item-name
              %span Nike スニーカー
            .main-container__inner__item-box__contents__outline--price
              %span ¥ 12,000
            .main-container__inner__item-box__contents__outline__like
              = icon('far', 'heart', class: 'main-container__inner__item-box__contents__outline__like--icon')
              .main-container__inner__item-box__contents__outline__like--count
                %span 99
        .main-container__inner__item-box__contents
          .main-container__inner__item-box__contents--image
            = image_tag "common/ori-app.sample1.png"          
          .main-container__inner__item-box__contents__outline
            .main-container__inner__item-box__contents__outline--cart-btn
              %span Buy
            .main-container__inner__item-box__contents__outline--item-name
              %span Nike スニーカー
            .main-container__inner__item-box__contents__outline--price
              %span ¥ 12,000
            .main-container__inner__item-box__contents__outline__like
              = icon('far', 'heart', class: 'main-container__inner__item-box__contents__outline__like--icon')
              .main-container__inner__item-box__contents__outline__like--count
                %span 99
        .main-container__inner__item-box__contents
          .main-container__inner__item-box__contents--image
            = image_tag "common/ori-app.sample2.png"          
          .main-container__inner__item-box__contents__outline
            .main-container__inner__item-box__contents__outline--cart-btn
              %span Buy
            .main-container__inner__item-box__contents__outline--item-name
              %span Nike スニーカー
            .main-container__inner__item-box__contents__outline--price
              %span ¥ 12,000
            .main-container__inner__item-box__contents__outline__like
              = icon('far', 'heart', class: 'main-container__inner__item-box__contents__outline__like--icon')
              .main-container__inner__item-box__contents__outline__like--count
                %span 99
        .main-container__inner__item-box__contents
          .main-container__inner__item-box__contents--image
            = image_tag "common/ori-app.sample4.png"
          .main-container__inner__item-box__contents__outline
            .main-container__inner__item-box__contents__outline--cart-btn
              %span Buy
            .main-container__inner__item-box__contents__outline--item-name
              %span Nike スニーカー
            .main-container__inner__item-box__contents__outline--price
              %span ¥ 12,000
            .main-container__inner__item-box__contents__outline__like
              = icon('far', 'heart', class: 'main-container__inner__item-box__contents__outline__like--icon')
              .main-container__inner__item-box__contents__outline__like--count
                %span 99

  -# フッター 
  .item-footer
    .item-footer__top
      .item-footer__top__pagination
        %span pagination caminari
    .item-footer__bottom
      .item-footer__bottom__logo