.wrapper
  = render "side-navi.html.haml"

  .contents-box
    .contents-box__top-content
      %h2 Weather 
      .contents-box__top-content__weather
        .contents-box__top-content__weather--city-name
          #city-name
        #weather.contents-box__top-content__weather__lists
          .contents-box__top-content__weather__lists__weather-report

    .contents-box__main-contents
      .contents-box__main-contents__left-contents
        %h2 Report
        .contents-box__main-contents__left-contents__report
          .contents-box__main-contents__left-contents__report--image
            = image_tag "common/ori-app.sample1.png"
          .contents-box__main-contents__left-contents__report__content
            .contents-box__main-contents__left-contents__report__content--title
              %span 記事のタイトル
            .contents-box__main-contents__left-contents__report__content--article
              %span 記事の内容は準備中です。記事の内容は準備中です。記事の内容は準備中です。記事の内容は準備中です。記事の内容は準備中です。記事の内容は準備中です。記事の内容は準備中です。記事の内容は準備中です。
        
        .contents-box__main-contents__left-contents__report
          .contents-box__main-contents__left-contents__report--image
            = image_tag "common/ori-app.sample1.png"
          .contents-box__main-contents__left-contents__report__content
            .contents-box__main-contents__left-contents__report__content--title
              %span 記事のタイトル
            .contents-box__main-contents__left-contents__report__content--article
              %span 記事の内容は準備中です。記事の内容は準備中です。記事の内容は準備中です。記事の内容は準備中です。記事の内容は準備中です。記事の内容は準備中です。記事の内容は準備中です。記事の内容は準備中です。記事の内容は準備中です記事の内容は準備中です記事の内容は準備中です記事の内容は準備中です記事の内容は準備中です記事の内容は準備中です
        
        .contents-box__main-contents__left-contents__report
          .contents-box__main-contents__left-contents__report--image
            = image_tag "common/ori-app.sample1.png"
          .contents-box__main-contents__left-contents__report__content
            .contents-box__main-contents__left-contents__report__content--title
              %span 記事のタイトル
            .contents-box__main-contents__left-contents__report__content--article
              %span 記事の内容は準備中です。記事の内容は準備中です。記事の内容は準備中です。記事の内容は準備中です。記事の内容は準備中です。記事の内容は準備中です。記事の内容は準備中です。記事の内容は準備中です。
        
        .contents-box__main-contents__left-contents__report
          .contents-box__main-contents__left-contents__report--image
            = image_tag "common/ori-app.sample1.png"
          .contents-box__main-contents__left-contents__report__content
            .contents-box__main-contents__left-contents__report__content--title
              %span 記事のタイトル
            .contents-box__main-contents__left-contents__report__content--article
              %span 記事の内容は準備中です。記事の内容は準備中です。記事の内容は準備中です。記事の内容は準備中です。記事の内容は準備中です。記事の内容は準備中です。記事の内容は準備中です。記事の内容は準備中です。
        
        .contents-box__main-contents__left-contents__report
          .contents-box__main-contents__left-contents__report--image
            = image_tag "common/ori-app.sample1.png"
          .contents-box__main-contents__left-contents__report__content
            .contents-box__main-contents__left-contents__report__content--title
              %span 記事のタイトル
            .contents-box__main-contents__left-contents__report__content--article
              %span 記事の内容は準備中です。記事の内容は準備中です。記事の内容は準備中です。記事の内容は準備中です。記事の内容は準備中です。記事の内容は準備中です。記事の内容は準備中です。記事の内容は準備中です。
        
      .contents-box__main-contents__right-contents
        %h2 Calender
        #datepicker.contents-box__main-contents__right-contents--calender
        
      